{{!-- SINGLE POST INFO --}}
    <article class="card">
      {{!-- <a href="/post/{{post.id}}" > --}}
        <div class="card-header">
          <h5 class="card-header-title">{{post.title}}</h5>
        </div>
      {{!-- </a> --}}

      <div class="card-content mb-4">
        <p>{{post.content}}</p> 
        <p class="faded-blue">Posted by <strong>{{post.user.username}}</strong> <sup> {{format_date post.date_posted}} </sup></p>
      </div>

      <div class="card-footer">
        <p class="column"><strong>{{post.comments.length}}</strong> comment(s)</a></p>
        <p class="column is-align-content-end"><i class="fa-solid fa-heart"></i> {{post.likes_count}}</p>
      </div>
    </article>

{{!-- EXTRAS SECTION --}}
{{#if loggedIn}}
  <form id="comment-form" class="mt-6">
    <div>
      <textarea name="comment-text" class="u-full-width"></textarea>
    </div>

    <div>
      <button id="comment-btn" type="submit">leave comment</button>
      <button id="like-btn" type="button" ><i class="fa-solid fa-heart"></i></button>
    </div>
  </form>
{{/if}}


{{> comments post.comments}}


{{#if loggedIn}}
  <Script src="/js/comment-like.js"></Script>
{{/if}}