{{!-- SINGLE POST INFO --}}
    <article class="card">
      <a href="/post/{{post.id}}" >
        <div class="card-header">
          <h5 class="card-header-title">{{post.title}}</h5>
        </div>
      </a>
      <div class="card-content mb-4">
        <p>{{post.content}}</p> 
        <p>Posted by <strong>{{post.user.username}}</strong> on {{post.date_posted}}</p>
      </div>

      <div class="card-footer columns mb-2">
        <p class="column"><strong>{{post.comments.length}}</strong> comment(s)</a></p>
        <p class="column is-align-content-end"><i class="fa-solid fa-heart"></i> {{post.likes_count}}</p>
      </div>
    </article>

{{!-- EXTRAS SECTION --}}
<form id="comment-form" class="mt-6">
  <div>
    <textarea name="comment-text" class="u-full-width"></textarea>
  </div>

  <div>
    <button id="comment-btn" type="submit">leave comment</button>
    <button id="like-btn" type="button" ><i class="fa-solid fa-heart"></i></button>
  </div>
</form>

<div class="mb-2">
  <ul class="no-list">

      {{#each post.comments}}
    <li  class="p-3 mb-4 comment-list">
      <section>
        <div>
          {{user.username}} on {{date_posted}}
        </div>
        <div class="mt-3">
          {{comment_content}}
        </div>
      </section>
    </li>
      {{/each}}
  </ul>
</div>